<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>About the Cottage</h1>

      <p>
      Situated on the East side of the river Esk, on the cobbled section of the street between the old market place
      and the foot of the Abbey steps, the cottage, a maisonette lies in the very heart of the Old Town.
      </p>
      <p>
      Perfectly located. close to the 199 steps leading to Whitby Abbey and St. Mary’s Church it is also within easy walking distance
      of the beach, shops and all other amenities.
      </p>
      <p>
      The maisonette is located above the Whitby Galleries and is accessed via it's own entrance and staircase,
      giving it ideal access to the old town but also providing a peaceful retreat when you're ready to relax.
      </p>
      <p>Ample <b>parking</b> is available just a short walk away, please take a look at the information <a routerLink="/parking">here</a> or click <a routerLink="/booking">here to make a booking</a> and check availability.</p>
  </div>
</div>
<div class="row">
  <div class="col-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-4">
    <h2 class="greysectionheader">ACCOMMODATION</h2>
    <div class="boxcommon">
      <img src="../../../assets/images/fire.jpg" width="100%" height="auto"/>
    </div>
    <div>&nbsp;</div>
    The accommodation is spread across two floors and can accommodate upto 4 people.
    <ul>
      <li>Newly fitted kitchen</li>
      <li>Comfortable Lounge and Dining Area</li>
      <li>One Double bedroom</li>
      <li>One Twin Bedroom</li>
      <li>Bathroom with bath, shower, WC and sink.</li>
    </ul>
  </div>
  <div class="col-4">
    <h2 class="greysectionheader">FACILITIES</h2>
    <div class="boxcommon">
      <img src="../../../assets/images/beach.jpg" width="100%" height="auto"/>
    </div>
    <div>&nbsp;</div>
    <ul>
      <li>Fully fitted kitchen, with Dishwasher, Oven, Hob, Microwave, Fridge and Freezer</li>
      <li>Bathroom with bath and shower (Fresh Towels Provided)</li>
      <li>One Double and Two Single beds (Fresh Linen Provided)</li>
      <li>Gas Central Heating</li>
      <li>Gas Flame Effect Fire</li>
      <li>Wifi and Freeview T.V.</li>
    </ul>
  </div>
  <div class="col-4">
    <h2 class="greysectionheader">NEARBY</h2>
    <div class="boxcommon">
      <img src="../../../assets/images/abbeysteps.JPG" width="100%" height="auto"/>
    </div>
    <div>&nbsp;</div>
    <p>
    Centrally located on the old cobbled Church St, close to the old Market Place and Abbey Steps.
    </p>
    <p><b>Loading and unloading outside the property is allowed without charge with free & paid parking available within a short walk.</b></p>
  </div>
</div>
<div>&nbsp;</div>
<div class="row">
  <div class="col-12, boxcommon">
    <ngb-carousel>
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
              <img src="../../../assets/images/harbour.jpg" alt="Random first slide" width="100%" height="auto">
          </div>
          <div class="carousel-caption">
              <h3>Whitby Harbour</h3>
              <p>The cottage is located behind the building with the two flags</p>
          </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../assets/images/kitchen0.jpg" alt="Random first slide" width="100%" height="auto">
      </div>
      <div class="carousel-caption">
          <h3>Whitby Kitchen</h3>
          <p>Newly fitted Kitchen</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../assets/images/lounge0.jpg" alt="Random first slide" width="100%" height="auto">
      </div>
      <div class="carousel-caption">
          <h3>Lounge</h3>
          <p>Lounge with at Christmas</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/images/lounge1.jpg" alt="Random first slide" width="100%" height="auto">
    </div>
    <div class="carousel-caption">
        <h3>Lounge</h3>
        <p>Plenty of comfortable seating</p>
    </div>
  </ng-template>
  </ngb-carousel>




  </div>
</div>
</div>
