<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Pubs &amp; Restaurants</h1>
      <p>Here's a list of our favourite pubs and restaurants and we're sure you'll love them too.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h2 class="greysectionheader">The BLACK HORSE</h2>
      <div class="boxcommon">
        <img src="../../../assets/images/blackhorse.jpg" width="100%" height="auto"/>
      </div>
      <div>&nbsp;</div>
      A personal favourite of mine, always has a lovely real ale on the go and has a great selection of food too.
      <p>
        You can even take your dog along for a drink, see their website <a href="https://www.the-black-horse.com" target="_blank">here</a>.
      </p>
    </div>
    <div class="col-4">
      <h2 class="greysectionheader">The DUKE OF YORK</h2>
    </div>
    <div class="col-4">
      <h2 class="greysectionheader">THE ENDEAVOR</h2>
    </div>
  </div>
</div>
