<div class="container">

  <div class="row">
    <div class="col-12">
      <h1>Booking Infomation</h1>
      <p>Use the calendar below to see when the cottage is free and to select the start and end dates or your stay.</p>
      <p>Once you've selected your dates just supply your contact details when prompted and click on the <i>Book</i> button.</p>
      <h2>Booking Options</h2>
      <ul>
        <li>Full Week (Starting Saturday, contact us to request other days)</li>
        <li>Mid Week (Monday to Friday)</li>
        <li>Weekend (Friday to Monday)</li>
      </ul>
    </div>
  </div>
</div>
