<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Parking</h1>
      <p>
      Finding a place to park can be tricky in Whitby, but here are a pointers only usualy known to the locals.
      </p>
      <p>
        Free parking can be limited but there are a few places not too far from the cottage, failing that there are a number of council metered car parks.
      </p>
      <h2>Top Tips</h2>
      <b>1.</b>Try to either arrive early or later...<br/>
      Arrive before 9am or later in the evening when it's quieter and you can unload your vehicle more easily on Church Street without having to deal with the crowds or tourists.
      <br/>If this isn't possible and you arrive in the middle of the day park in one of the carparks listed below and delay unpacking until later on; hopefully then you can park for free at that time too.
      <p>
      <b>2.</b>
      The Church Street Turnaround...<br/>
      When you unpack your car the ideal place to park is just before the cobbled road narrows, but if you feel you can't turn around there, don't worry; you can continue forward all the way to the end of
      Henrietta Street, where there is a turning place at the end.
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Free Parking</h2>
      There two main free parking spaces within easy walking distance are listed below...

      <p></p>
      <h2>Church Street, the wider part</h2>
      You can park for free from the Parkol Marine shipyard all the way along to the bus stop marked in yellow, a little way before The Fleece pub.
      <div class="boxcommon">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d344.5574930518818!2d-0.6106531210767309!3d54.4823940563395!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487f1773eaa72857%3A0xf37f16e89bdc8a13!2sParkol%20Marine%20Engineering!5e0!3m2!1sen!2suk!4v1671659334952!5m2!1sen!2suk" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div>&nbsp;</div>
      <p align="left">
        <img src="../../../assets/images/freeparking.jpg" width="40%" align="left" class="inlineimage" height="auto"/>
        <b>Completely Free!</b><br/>You can park for free all over Whitby from January 1st upto begining of March, lookout for the <i>Out of Service</i> covers on the Meters.
      </p>
    </div>
    <div class="col-6">
      <h2>Paid Parking</h2>
      There are quite a few car parks in Whitby, but sadly none are free.
      <h2>Church Street Car Park</h2>
      All the parking ticket machine pay cash, but it's easy to use the Ringo Parking mobile app.
      <div class="boxcommon">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d579.4238039884856!2d-0.6112578706216603!3d54.48595915129667!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487f1771f6587759%3A0x6d065141671a45a5!2sChurch%20Street%20Car%20Park!5e0!3m2!1sen!2suk!4v1671659861801!5m2!1sen!2suk" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <h2>Whitby Abbey Car Park</h2>
      It's easier to walk down the hill and take the first flight of steps which take you to the start of the cobbled part of Church Street, alternatively you can walk a little further and take the 199 Abbey Steps down.
      <div class="boxcommon">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1638.8396187358123!2d-0.6075909738847423!3d54.486417864525755!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487f1772b7774fe1%3A0xc550c8f513606429!2sWhitby%20Abbey%20Parking!5e0!3m2!1sen!2suk!4v1671660167923!5m2!1sen!2suk" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>

</div>

